.yellow-bg {
  background: yellow;
}

.alert-box {
  background: salmon;
  color: rgb(233, 233, 233);
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.main-background {
  background-image: url("https://www.cathaypacific.com/content/dam/destinations/new-york/cityguide-gallery/new-york_skyline_920x500.jpg");
  background-size: cover;
  color: aliceblue;
  border-radius: 0px;
}

.black-background {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  /* animate로 black-background 움직이기 */
  /* 시작화면 만들기 */
  /* margin-top: -1200px; */
  transition: all 1s;
  transform: translateY(-1000px);
}

.white-background {
  background: rgba(255, 255, 255);
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;

  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-sub,
.email-check,
.password-check {
  display: none;
}

.left-menu {
  width: 150px;
  height: 100%;
  background: black;
  color: wheat;
  position: fixed;
  margin-left: -150px;
}

.slide-container {
  width: 300vw;
  transition: transform 1s;
  /* transform: translateX(-100vw); */
  display: flex;
  justify-content: space-between;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.slide-next {
  position: absolute;
  top: 45%;
  right: 0;
  font-size: 50px;
  background: none;
  border: none;
  opacity: 0.5;
}

.slide-prev {
  position: absolute;
  top: 45%;
  left: 0;
  font-size: 50px;
  background: none;
  border: none;
  opacity: 0.5;
}
